@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

html,
body {
  overflow-x: hidden;
}

@theme {
  /* Fonts */
  --font-palanquin: Palanquin, sans-serif;
  --font-montserrat: Montserrat, sans-serif;

  /* Colors */
  --color-primary: #ECEEFF;
  --color-coral-red: #FF6452;
  --color-slate-gray: #6D6D6D;
  --color-pale-blue: #F5F6FF;
  --color-white-400: rgba(255, 255, 255, 0.80);

  /* Shadows */
  --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

  /* Background Images */
  --background-image-hero: url('./assets/images/collection-background.svg');
  --background-image-card: url('./assets/images/thumbnail-background.svg');

  /* Screens */
  --breakpoint-wide: 1440px;

  /* Font Sizes */
  --text-xs: 12px;
  --text-xs--line-height: 16px;

  --text-sm: 14px;
  --text-sm--line-height: 20px;

  --text-base: 16px;
  --text-base--line-height: 19.5px;

  --text-lg: 18px;
  --text-lg--line-height: 21.94px;

  --text-xl: 20px;
  --text-xl--line-height: 24.38px;

  --text-2xl: 24px;
  --text-2xl--line-height: 29.26px;

  --text-3xl: 28px;
  --text-3xl--line-height: 50px;

  --text-4xl: 48px;
  --text-4xl--line-height: 58px;

  --text-8xl: 96px;
  --text-8xl--line-height: 106px;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply flex-1 w-full text-base leading-normal text-slate-gray pl-5 p-5 outline-none sm:border-none border border-slate-gray sm:rounded-none rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}